
/* Fixed center container */
.login-page {
  position: fixed;
  /* top: 10; */
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login box */
.login-container {
  width: 360px;
  padding: 30px;
  background: #98979779;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Inputs */
.login-container input {
  width: 80%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 16px;
}

/* Button */
.login-container button {
  width: 50%;
  padding: 12px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 📱 Mobile */
@media (max-width: 600px) {
  .login-container {
    width: 90%;
    padding: 20px;
  }
}
