/* PAGE BACKGROUND */
.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f5f7;
}

/* MAIN CARD */
.auth-card {
  width: 800px;
  height: 420px;
  background: white;
  display: flex;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.auth-left h2 {
  text-align: center;
  margin-bottom: 10px;
}

.auth-left input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #eee;
  font-size: 14px;
}

.auth-left button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #ff4b2b;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.switch-text {
  text-align: center;
  font-size: 14px;
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-right h2 {
  font-size: 28px;
}

.auth-right p {
  margin: 20px 0;
  font-size: 14px;
}

.ghost-btn {
  padding: 12px 32px;
  border-radius: 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* MOBILE */
@media (max-width: 768px) {
  .auth-card {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .auth-right {
    display: none;
  }
}
